<h2>Add Product</h2>
<div class="fluid container">
    <div class="row top-buffer">
        <div class="col-md-12">
            <form name="productForm" class="form-horizontal" role="form" novalidate>
                <div class="form-group form-inline">
                    <input class="form-control" name="productName" id="productName" type="text" ng-required="true" ng-model="vm.newProductName">
                    <input type="submit" class="btn btn-success" value="Add Product" ng-click="vm.addProduct()">
                    <p ng-show="productForm.productName.$invalid && !productForm.productName.$pristine" class="help-block">Product name is required</p>
                </div>
            </form>
        </div>
    </div>
    <div class="row top-buffer">
        <span class="text-warning" ng-show="vm.productExists">You already have {{vm.lastTakenProductName}}.</span>
    </div>
    <div>&nbsp;</div>
</div>
<div>
    <ul ng-repeat="product in vm.products | orderBy: '-id'">
        <li>{{product.productName}}</li>
    </ul>
</div>