<h2>Add Product</h2>
<div class="fluid container">
    <div class="row top-buffer">
        <div class="col-md-12">
            <form class="form-horizontal" role="form">
                <div class="form-group form-inline">
                    <input class="form-control" id="productName" type="text" ng-model="vm.newProductName">
                    <input type="submit" class="btn btn-success" value="Add Product" ng-click="vm.addProduct()">
                </div>
            </form>
        </div>
    </div>
    <div class="row top-buffer">
        <span class="text-warning" ng-show="vm.productExists">You already have {{vm.lastTakenProductName}}.</span>
    </div>
    <div>&nbsp;</div>
</div>
<div>
    <ul ng-repeat="product in vm.products | orderBy: '-id'">
        <li>{{product.productName}}</li>
    </ul>
</div>