<h2>Load Data Cache</h2>

<p class="alert alert-warning">
    <strong>Warning:</strong> This will reload the data cache from the default JSON files. Any extra items will be lost.
</p>

<div class="list-header">
    <h4>Select the cache items to load:</h4>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">

            <form class="form-horizontal" role="form">
                <ul ng-repeat="item in vm.cacheItems" class="list-indented list-unstyled">
                    <li>
                        <input type="checkbox" name="{{item.name}}" id="{{item.name}}" ng-model="item.checked"
                               ng-checked="item.checked">
                        <label for="{{item.name}}" style="font-weight: normal;">{{item.name}} cache</label>
                    </li>
                </ul>
                <div class="pull-left">
                    <button class="btn btn-primary" ng-click="vm.loadData()">Load Data</button>
                </div>

                <div class="pull-right">
                    <span ng-show="vm.loadCompleted" class="alert alert-info">Cache data has been loaded.</span>
                </div>
            </form>
        </div>
    </div>
</div>
</p>