<h2>{{currentRecipe.recipeName}}</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-danger" ng-click="removeRecipe()">Remove Recipe</button>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    Description:
    <blockquote>
        {{currentRecipe.description}}
    </blockquote>


        <div class="row">
            <div class="col-md-12">
                <div class="list-header">
                    <span class="list-header">Categories:</span>
                    <ul class="list-inline" style="display:inline" ng-repeat="category in currentRecipe.categories">
                        <li class="category-tag">{{category}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <div class="list-header">Ingredients:</div>
                        <ul class="list-indented list-unstyled" ng-repeat="product in currentRecipe.ingredients">
                            <li>
                                <dt>{{product.name}}</dt>
                                <dd>{{product.quantity}} {{product.unit}}</dd>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="list-header">Directions:</div>
                    <div class="well" ng-bind-html="currentRecipe.directions | unsafe">
                    </div>
                </div>
            </div>
        </div>
    </div>
